* {
  font-family: Roboto;
}
/* 
body {
  background: #2980b9;
  background: -webkit-linear-gradient(
    to left,
    #ffffff,
    #6dd5fa,
    #2980b9
  );
  background: linear-gradient(
    to left,
    #ffffff,
    #6dd5fa,
    #2980b9
  );
}
 */
